.custom-tabbar {
  position: fixed;
  bottom: calc(16rpx + env(safe-area-inset-bottom));
  left: 50%;
  height: 96rpx;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background: transparent;
  border-radius: 96rpx;
  padding: 12rpx 8rpx;
  z-index: 999;
}

.custom-tabbar-left {
  display: flex;
  align-items: center;
  background-color: #F2F3F5;
  border-radius: 100rpx;
  padding: 2rpx;
  border: 2rpx solid #F9F9F9;
  box-shadow: 0 0 14rpx 0 rgba(46, 0, 21, 0.2);
}

.tab-item {
  flex: 1;
  border-radius: 96rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-align: center;
  position: relative;
  padding: 24rpx 32rpx;

  .tab-text {
    font-size: 32rpx;
    color: #666;
    font-weight: 400;
    transition: all 0.3s ease;
    white-space: nowrap;
  }

  &.active {
    background: white;

    .tab-text {
      color: #FF4D88;
      font-weight: 500;
    }
  }

  &:active {
    transform: scale(0.95);
    opacity: 0.8;
  }
}
